@media screen and (max-width: 640px) {
  transform: rotate(180);
}
.blanca {
  background: white;
  height: 200px;
  width: 30px;
  border: 2px solid black;
  display: inline-block;
}
.negra {
  background: black;
  height: 75px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
}
#piano {
  border: 2px solid;
  width: 474px;
  margin: auto;
}
.blanca:hoover {
}
.negra:hoover {
  background: grey;
}
